.our-partners img{
    width: 100%;
}
.navbar-brand-logo{
    max-width: 9rem !important;
}
.bg-footer-primary{
    background-color: #026c84;
}

.social-contacts{
    display: flex;
    align-items: center;
}
.bi-telegram, .bi-whatsapp, .bi-geo-alt-fill{
    cursor: pointer;
    font-size: 25px;
}
.bi-geo-alt-fill{
    margin-left: 8px;
}
.bi-whatsapp{
    margin-left: 10px;
}
.hidden-step-line:after{
    display: none !important;
}
